{% layout 'page.terms-of-service' %}
      
  <div class="policy-title-wrapper">
    <div class="elements-headline-wrap">
      <h1 class="page-title">{{ 'terms-of-service.H1_0' | t }}</h1>
      <p class="paragraph-semi-bold">{{ 'terms-of-service.P_1' | t }}<br></p>
    </div>
  </div>
  <div class="policy-wrapper">
    <div class="w-richtext">
      <h2>{{ 'terms-of-service.H2_2' | t }}</h2>
      <p>{{ 'terms-of-service.P_3' | t }}</p>
      <p>{{ 'terms-of-service.P_4' | t }}</p>
      <p>{{ 'terms-of-service.P_5' | t }}</p>
      <p>{{ 'terms-of-service.P_6' | t }}</p>
      <h2>{{ 'terms-of-service.H2_7' | t }}</h2>
      <p>{{ 'terms-of-service.P_8' | t }}</p>
      <p>{{ 'terms-of-service.P_9' | t }}</p>
      <p>{{ 'terms-of-service.P_10' | t }}</p>
      <h2>{{ 'terms-of-service.H2_11' | t }}</h2>
      <p>{{ 'terms-of-service.P_12' | t }}</p>
      <p>{{ 'terms-of-service.P_13' | t }}</p>
      <p>{{ 'terms-of-service.P_14' | t }}</p>
      <h2>{{ 'terms-of-service.H2_15' | t }}</h2>
      <p>{{ 'terms-of-service.P_16' | t }}</p>
      <p>{{ 'terms-of-service.P_17' | t }}</p>
      <h2>{{ 'terms-of-service.H2_18' | t }}</h2>
      <p>{{ 'terms-of-service.P_19' | t }}</p>
      <p>{{ 'terms-of-service.P_20' | t }}</p>
      <p>{{ 'terms-of-service.P_21' | t }}</p>
      <h2>{{ 'terms-of-service.H2_22' | t }}</h2>
      <p>{{ 'terms-of-service.P_23' | t }}</p>
      <p>{{ 'terms-of-service.P_24' | t }}</p>
      <p>{{ 'terms-of-service.P_25' | t }}</p>
      <h2>{{ 'terms-of-service.H2_26' | t }}</h2>
      <p>{{ 'terms-of-service.P_27' | t }}</p>
      <p>{{ 'terms-of-service.P_28' | t }}</p>
      <p>{{ 'terms-of-service.P_29' | t }}</p>
      <h2>{{ 'terms-of-service.H2_30' | t }}</h2>
      <p>{{ 'terms-of-service.P_31' | t }}</p>
      <p>{{ 'terms-of-service.P_32' | t }}</p>
      <p>{{ 'terms-of-service.P_33' | t }}</p>
      <p>{{ 'terms-of-service.P_34' | t }}</p>
      <h2>{{ 'terms-of-service.H2_35' | t }}</h2>
      <p>{{ 'terms-of-service.P_36' | t }}</p>
      <p>{{ 'terms-of-service.P_37' | t }}</p>
      <p>{{ 'terms-of-service.P_38' | t }}</p>
      <h2>{{ 'terms-of-service.H2_39' | t }}</h2>
      <p>{{ 'terms-of-service.P_40' | t }}</p>
      <p>{{ 'terms-of-service.P_41' | t }}</p>
      <p>{{ 'terms-of-service.P_42' | t }}</p>
      <h2>{{ 'terms-of-service.H2_43' | t }}</h2>
      <p>{{ 'terms-of-service.P_44' | t }}</p>
      <h2>{{ 'terms-of-service.H2_45' | t }}</h2>
      <p>{{ 'terms-of-service.P_46' | t }}</p>
      <p>{{ 'terms-of-service.P_47' | t }}</p>
      <h2>{{ 'terms-of-service.H2_48' | t }}</h2>
      <p>{{ 'terms-of-service.P_49' | t }}</p>
      <h2>{{ 'terms-of-service.H2_50' | t }}</h2>
      <p>{{ 'terms-of-service.P_51' | t }}</p>
      <p>{{ 'terms-of-service.P_52' | t }}</p>
      <p>{{ 'terms-of-service.P_53' | t }}</p>
      <p>{{ 'terms-of-service.P_54' | t }}</p>
      <p>{{ 'terms-of-service.P_55' | t }}</p>
      <h2>{{ 'terms-of-service.H2_56' | t }}</h2>
      <p>{{ 'terms-of-service.P_57' | t }}</p>
      <h2>{{ 'terms-of-service.H2_58' | t }}</h2>
      <p>{{ 'terms-of-service.P_59' | t }}</p>
      <h2>{{ 'terms-of-service.H2_60' | t }}</h2>
      <p>{{ 'terms-of-service.P_61' | t }}</p>
      <p>{{ 'terms-of-service.P_62' | t }}</p>
      <p>{{ 'terms-of-service.P_63' | t }}</p>
      <h2>{{ 'terms-of-service.H2_64' | t }}</h2>
      <p>{{ 'terms-of-service.P_65' | t }}</p>
      <p>{{ 'terms-of-service.P_66' | t }}</p>
      <p>{{ 'terms-of-service.P_67' | t }}</p>
      <h2>{{ 'terms-of-service.H2_68' | t }}</h2>
      <p>{{ 'terms-of-service.P_69' | t }}</p>
      <h2>{{ 'terms-of-service.H2_70' | t }}</h2>
      <p>{{ 'terms-of-service.P_71' | t }}</p>
      <p>{{ 'terms-of-service.P_72' | t }}</p>
      <h2>{{ 'terms-of-service.H2_73' | t }}</h2>
      <p>{{ 'terms-of-service.P_74' | t }}<a href="mailto:help@xialla.com">{{ 'terms-of-service.A_75' | t }}</a>{{ 'terms-of-service.P_76' | t }}</p>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="footer-simple-top-section">
      <div class="section-normal">
        <div class="content">
          <div class="footer2-divider"></div>
        </div>
        <div class="w-layout-grid footer2-links-grid">
          <div id="w-node-8fe8825a9ceb-825a9cd1"><a href="#" class="footer-logo-link w-inline-block"><img src="{{ 'logo.png' | asset_url }}" alt="Xialla Logo"></a>
            <div class="footer2-links-wrap">
              <h6 class="text-label-footer-links-header">{{ 'terms-of-service.H6_77' | t }}</h6><a href="mailto:press@xialla.com" class="footer2-link">{{ 'terms-of-service.A_78' | t }}</a></div>
          </div>
          <div id="w-node-8fe8825a9cf3-825a9cd1" class="footer2-links-wrap">
            <h6 class="text-label-footer-links-header">{{ 'terms-of-service.H6_79' | t }}</h6><a href="/products/xialla" class="footer2-link">{{ 'terms-of-service.A_80' | t }}</a><a href="/products/adhesive-pads-30-pack" class="footer2-link">{{ 'terms-of-service.A_81' | t }}</a><a href="/pages/refund-policy" class="footer2-link">{{ 'terms-of-service.A_82' | t }}</a></div>
          <div id="w-node-8fe8825a9cfc-825a9cd1" class="footer2-links-wrap">
            <h6 class="text-label-footer-links-header">{{ 'terms-of-service.H6_83' | t }}</h6><a href="/pages/how-it-works" class="footer2-link">{{ 'terms-of-service.A_84' | t }}</a><a href="/pages/instructions-for-use" class="footer2-link">{{ 'terms-of-service.A_85' | t }}</a><a href="/pages/clinical-trials" class="footer2-link">{{ 'terms-of-service.A_86' | t }}</a><a href="/pages/info-kit" class="footer2-link">{{ 'terms-of-service.A_87' | t }}</a><a href="/pages/about" class="footer2-link">{{ 'terms-of-service.A_88' | t }}</a></div>
          <div id="w-node-8fe8825a9d09-825a9cd1" class="footer2-links-wrap">
            <h6 class="text-label-footer-links-header">{{ 'terms-of-service.H6_89' | t }}</h6><a href="/pages/customer-support" class="footer2-link">{{ 'terms-of-service.A_90' | t }}</a><a href="/pages/help" class="footer2-link">{{ 'terms-of-service.A_91' | t }}</a><a href="/pages/contact" class="footer2-link">{{ 'terms-of-service.A_92' | t }}</a></div>
        </div>
      </div>
    </div>
    <div class="section-normal">
      <div class="w-layout-grid footer2-bottom-grid">
        <div id="w-node-8fe8825a9d14-825a9cd1" class="footer2-bottom-left-column">
          <div class="deco-dot deco-dot-centered"></div>
          <div class="paragraph-small-2">{{ 'terms-of-service.DIV_93' | t }}<br>{{ 'terms-of-service.DIV_94' | t }}<br>{{ 'terms-of-service.DIV_95' | t }}<br>{{ 'terms-of-service.DIV_96' | t }}<br>{{ 'terms-of-service.DIV_97' | t }}<a href="/practitioners#clinical-studies"><br></a></div>
        </div>
        <div id="w-node-8fe8825a9d23-825a9cd1">
          <div class="footer2-disclaimer-wrap">
            <p class="paragraph">{{ 'terms-of-service.P_98' | t }}</p>
          </div>
        </div>
        <div id="w-node-8fe8825a9d27-825a9cd1" class="div-block-137"><a href="/pages/terms-of-service" aria-current="page" class="footer-small-link w--current">{{ 'terms-of-service.A_99' | t }}</a><a href="/pages/privacy-policy" class="footer-small-link">{{ 'terms-of-service.A_100' | t }}</a></div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5eac0ded2d2f09a505faf644" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <!--  Stop iPhone from changing color of phone links  -->
  <style>
  a[href^=tel] {
text-decoration:inherit;
color: inherit;
}
</style>
  <!--  End Stop iPhone   -->
  <!--  Ellipsis style used for truncating search result item title  -->
  <style>
  .ellipsis {
  text-overflow: ellipsis;
}
</style>
  <!--  End Elipsis  -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}