{% layout 'page.contact' %}
      
  <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
    <div class="mainmenuwrap"><a href="/" id="w-node-f20facedcda8-cd55b9ef" class="brand w-nav-brand"><img src="{{ 'logo.png' | asset_url }}" width="44" alt="Xialla Logo" class="header-logo"></a>
      <div id="w-node-f20facedcdaa-cd55b9ef" class="nav1-menu-wrap">
        <div class="div-block-141">
          <nav role="navigation" class="nav-menu-2 w-nav-menu"><a href="#" class="nav-link-2 dropdown-home w-nav-link">{{ 'contact.A_0' | t }}</a>
            <div data-delay="0" class="nav-link-2 w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="menu-text">{{ 'contact.DIV_1' | t }}</div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list-2 w-dropdown-list"><a href="/pages/how-it-works" class="menuitem dropdown w-dropdown-link">{{ 'contact.A_2' | t }}</a><a href="/pages/clinical-trials" class="menuitem dropdown w-dropdown-link">{{ 'contact.A_3' | t }}</a><a href="/pages/about" page="default" class="menuitem dropdown w-dropdown-link">{{ 'contact.A_4' | t }}</a><a href="/pages/contact" aria-current="page" class="menuitem dropdown w-dropdown-link w--current">{{ 'contact.A_5' | t }}</a></nav>
            </div>
            <div data-delay="0" class="nav-link-2 w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="menu-text">{{ 'contact.DIV_6' | t }}</div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list-2 w-dropdown-list"><a href="/products/xialla" class="menuitem dropdown w-dropdown-link">{{ 'contact.A_7' | t }}</a><a href="/products/adhesive-pads-30-pack" class="menuitem dropdown w-dropdown-link">{{ 'contact.A_8' | t }}</a></nav>
            </div>
            <div data-delay="0" class="nav-link-2 w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="menu-text">{{ 'contact.DIV_9' | t }}</div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list-2 w-dropdown-list"><a href="/pages/help" class="menuitem dropdown w-dropdown-link">{{ 'contact.A_10' | t }}</a><a href="/pages/customer-support" class="menuitem dropdown w-dropdown-link">{{ 'contact.A_11' | t }}</a><a href="/pages/instructions-for-use" class="menuitem dropdown w-dropdown-link">{{ 'contact.A_12' | t }}</a></nav>
            </div>
          </nav>
        </div>
        <div class="div-block-140">
          <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightDropdown" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart-3">
            <a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink button cc-cart w-inline-block">
              <div class="w-commerce-commercecartopenlinkcount cart-quantity-2" udy-el="cart-count">{{ cart.item_count }}</div>
            </a>
            <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightDropdown">
              <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container-3">
                <div class="w-commerce-commercecartheader">
                  <h4 class="w-commerce-commercecartheading">{{ 'contact.H4_13' | t }}</h4><a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink close-button-3 w-inline-block"><svg width="16px" height="16px" viewBox="0 0 16 16"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill-rule="nonzero" fill="#333333"><polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon></g></g></svg></a></div>
                <div class="w-commerce-commercecartformwrapper">
                  <form data-node-type="commerce-cart-form" class="w-commerce-commercecartform {% if cart.item_count == 0 %}udesly-display-none{% endif %}">
                    
                    
                    <ul role="list" class="mini-cart-list" udy-el="items-list">
                      {% for item in cart.items %}<li class="mini-cart-list-item">
                        <div class="product-row">
                          <div class="div-block-137"><img src="{{ item.product.featured_image.src | img_url: 'large' }}" alt="" class="image-32">
                            <div class="div-block-142">
                              <div class="cart-product-name">{{ item.product.title }}</div>
                              <div class="cart-product-price">{{ item.price | money }}</div>
                            </div>
                          </div>
                          <div>
                            <div class="text-block-82">{{ item.quantity }}</div>
                          </div>
                        </div>
                      </li>{% endfor %}
                    </ul>
                    <div class="w-commerce-commercecartfooter {% if cart.item_count == 0 %}udesly-display-none{% endif %}" udy-el="cart-actions">
                      <div class="w-commerce-commercecartlineitem popup-cart-line-item">
                        <div class="popup-cart-subtotal-label">{{ 'contact.DIV_14' | t }}</div>
                        <div class="w-commerce-commercecartordervalue popup-cart-subtotal" udy-el="cart-total">{{ cart.total_price | money }}</div>
                      </div>
                      <div class="checkout-actions"><a href="/cart" value="Edit" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton submit-button-2 cart-details" data-loading-text="Edit">{{ 'contact.A_15' | t }}</a><a href="/checkout" value="Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton submit-button-2 checkout" data-loading-text="Chekout">{{ 'contact.A_16' | t }}</a></div>
                    </div>
                  </form>
                  <div class="w-commerce-commercecartemptystate {% if cart.item_count != 0 %}udesly-display-none{% endif %}" udy-el="no-items-in-cart">
                    <div class="text-block-84">{{ 'contact.DIV_17' | t }}</div>
                  </div>
                  <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-cart_order_min-error="Cart failed.">{{ 'contact.DIV_18' | t }}</div>
                  </div>
                </div>
              </div>
            </div>
          <script id="mini-cart-template">
          window.udeslyMiniCartTemplate = function(item) {
            return `<li class="mini-cart-list-item" data-item-id="${item.id}">
                        <div class="product-row">
                          <div class="div-block-137"><img src="${item.image}" alt="" class="image-32">
                            <div class="div-block-142">
                              <div class="cart-product-name">${item.title}</div>
                              <div class="cart-product-price">${item.price}</div>
                            </div>
                          </div>
                          <div>
                            <div class="text-block-82">${item.quantity}</div>
                          </div>
                        </div>
                      </li>`
          }
          </script></div>
          <a href="/products/xialla" class="button-small header w-inline-block">
            <div class="button-label">{{ 'contact.DIV_19' | t }}</div>
          </a>
          <div class="menu-button-2 w-nav-button"><img src="{{ 'bars.svg' | asset_url }}" alt="" class="menu-icon-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-wrapper m100-80">
    <div class="section-normal">
      <div class="w-layout-grid headline-grid">
        <div id="w-node-886cdc8134ea-8044e4fa">
          <h1 class="page-title">{{ 'contact.H1_20' | t }}</h1>
          <p class="paragraph-normal">{{ 'contact.P_21' | t }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-layout-grid content23-grid">
      <div id="w-node-886cdc8134f3-8044e4fa" class="content23-image"></div>
      <div id="w-node-886cdc8134f4-8044e4fa" class="content23-item-wrap">
        <div class="content23-item">
          <div class="paragraph">{{ 'contact.DIV_22' | t }}<br>{{ 'contact.DIV_23' | t }}<br>{{ 'contact.DIV_24' | t }}<br>{{ 'contact.DIV_25' | t }}</div>
          <div class="text-label-4 text-label-bottom-clear">{{ 'contact.DIV_26' | t }}</div>
          <p><a href="tel:+18885044526">{{ 'contact.A_27' | t }}</a></p>
          <div class="text-label-4 text-label-bottom-clear">{{ 'contact.DIV_28' | t }}</div><a href="mailto:info@xialla.com">{{ 'contact.A_29' | t }}</a></div>
      </div>
      <div id="w-node-886cdc813509-8044e4fa" class="content23-item-wrap _2nd-address">
        <div class="content23-item">
          <div class="text-label-4">{{ 'contact.DIV_30' | t }}</div>
          <div class="paragraph">{{ 'contact.DIV_31' | t }}<br>{{ 'contact.DIV_32' | t }}<br>{{ 'contact.DIV_33' | t }}<br>{{ 'contact.DIV_34' | t }}<br>{{ 'contact.DIV_35' | t }}<br>{{ 'contact.DIV_36' | t }}</div>
        </div>
        <div>
          <a data-w-id="b9b2655b-bd78-c597-0231-886cdc81351a" href="#" class="button-text w-inline-block">
            <div class="button-label-3">{{ 'contact.DIV_37' | t }}</div><img src="https://uploads-ssl.webflow.com/5dd07020edfe6a1f4c682c0e/5dd07020edfe6a7c87682c3d_arrow-dark%402x.svg" alt="" class="button-arrow"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-wrapper m100-50">
    <div class="section-normal">
      <div class="w-layout-grid cta7-grid">
        <div id="w-node-2d706eaf7f99-8044e4fa">
          <div>
            <h3 class="size3-text-2">{{ 'contact.H3_38' | t }}</h3>
            <p class="paragraph-normal">{{ 'contact.P_39' | t }}<a href="/pages/customer-support">{{ 'contact.A_40' | t }}</a>{{ 'contact.P_41' | t }}<br></p>
            <p class="paragraph-normal">{{ 'contact.P_42' | t }}<br></p>
            <div class="div-block-139"></div>
            <div class="standard-form w-form">
              <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form" method="get" action="https://hooks.zapier.com/hooks/catch/4718621/oraegq0/" class="cta11-form-wrap-copy"><input type="email" class="form-field w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="Email address" id="Email-Address" required=""><input type="text" class="form-field w-input" maxlength="256" name="First-Name" data-name="First Name" placeholder="First Name" id="First-Name" required=""><input type="text" class="form-field w-input" maxlength="256" name="Last-Name" data-name="Last Name" placeholder="Last Name" id="Last-Name" required=""><textarea placeholder="What can we help you with? " maxlength="5000" id="Contact-Request" name="Contact-Request" data-name="Contact Request" required="" class="form-field multiline w-input"></textarea><input type="submit" value="Submit" data-wait="Please wait..." id="Submit-Button" class="submit-button w-button"></form>
              <div class="success-message w-form-done">
                <div>{{ 'contact.DIV_43' | t }}</div>
              </div>
              <div class="error-message w-form-fail">
                <div>{{ 'contact.DIV_44' | t }}</div>
              </div>
            </div>
            <div class="html-embed live w-embed w-script">
              <!-- [if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
<![endif] -->
              <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
              <script>
  hbspt.forms.create({
	portalId: "5835628",
	formId: "94a38824-dacc-40d9-b949-c6ecca079c15"
});
</script>
            </div>
            <div class="html-embed test w-embed w-script">
              <!-- [if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
<![endif] -->
              <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
              <script>
  hbspt.forms.create({
	portalId: "5835628",
	formId: "1e8eded9-4345-4270-b79b-a848531cc085"
});
</script>
            </div>
          </div>
        </div>
        <div id="w-node-2d706eaf7fb4-8044e4fa" class="cta7-map-wrap">
          <div data-widget-latlng="45.3978139,-75.6885159" class="cta7-map w-widget w-widget-map"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="component-divider h100"></div>
  <div class="footer-wrapper">
    <div class="footer-simple-top-section">
      <div class="section-normal yellow">
        <div class="w-layout-grid footer2-form-grid">
          <div id="w-node-28661869d3bf-1869d3bb">
            <h5 class="size3-text size3-full-clear white">{{ 'contact.H5_45' | t }}</h5>
            <div class="paragraph-semi-bold size5-full-clear white">{{ 'contact.DIV_46' | t }}</div>
            <div class="paragraph-semi-bold">{{ 'contact.DIV_47' | t }}</div>
          </div>
          <div id="w-node-28661869d3c6-1869d3bb">
            <div id="subscribe-form" class="footer2-form w-form">
              <form id="subscribe-form" name="wf-form-Subscribe-Form" data-name="Subscribe Form" method="post" class="footer2-form-wrap"><input type="email" class="form-field w-input" maxlength="256" name="Email-3" data-name="Email 3" placeholder="Enter your email" id="Email-3" required=""><input type="submit" value="Subscribe" data-wait="Please wait..." class="submit-button subscribe w-button"></form>
              <div class="success-message w-form-done">
                <div>{{ 'contact.DIV_48' | t }}</div>
              </div>
              <div class="error-message w-form-fail">
                <div>{{ 'contact.DIV_49' | t }}</div>
              </div>
            </div>
            <div class="html-embed w-embed w-script">
              <!-- [if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
<![endif] -->
              <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
              <script>
  hbspt.forms.create({
	portalId: "5835628",
	formId: "db3b18f8-9c57-4abc-a8c8-441b2f4d1674"
});
</script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="footer-simple-top-section">
      <div class="section-normal">
        <div class="content">
          <div class="footer2-divider"></div>
        </div>
        <div class="w-layout-grid footer2-links-grid">
          <div id="w-node-8fe8825a9ceb-825a9cd1"><a href="#" class="footer-logo-link w-inline-block"><img src="{{ 'logo.png' | asset_url }}" alt="Xialla Logo"></a>
            <div class="footer2-links-wrap">
              <h6 class="text-label-footer-links-header">{{ 'contact.H6_50' | t }}</h6><a href="mailto:press@xialla.com" class="footer2-link">{{ 'contact.A_51' | t }}</a></div>
          </div>
          <div id="w-node-8fe8825a9cf3-825a9cd1" class="footer2-links-wrap">
            <h6 class="text-label-footer-links-header">{{ 'contact.H6_52' | t }}</h6><a href="/products/xialla" class="footer2-link">{{ 'contact.A_53' | t }}</a><a href="/products/adhesive-pads-30-pack" class="footer2-link">{{ 'contact.A_54' | t }}</a><a href="/pages/refund-policy" class="footer2-link">{{ 'contact.A_55' | t }}</a></div>
          <div id="w-node-8fe8825a9cfc-825a9cd1" class="footer2-links-wrap">
            <h6 class="text-label-footer-links-header">{{ 'contact.H6_56' | t }}</h6><a href="/pages/how-it-works" class="footer2-link">{{ 'contact.A_57' | t }}</a><a href="/pages/instructions-for-use" class="footer2-link">{{ 'contact.A_58' | t }}</a><a href="/pages/clinical-trials" class="footer2-link">{{ 'contact.A_59' | t }}</a><a href="/pages/info-kit" class="footer2-link">{{ 'contact.A_60' | t }}</a><a href="/pages/about" class="footer2-link">{{ 'contact.A_61' | t }}</a></div>
          <div id="w-node-8fe8825a9d09-825a9cd1" class="footer2-links-wrap">
            <h6 class="text-label-footer-links-header">{{ 'contact.H6_62' | t }}</h6><a href="/pages/customer-support" class="footer2-link">{{ 'contact.A_63' | t }}</a><a href="/pages/help" class="footer2-link">{{ 'contact.A_64' | t }}</a><a href="/pages/contact" aria-current="page" class="footer2-link w--current">{{ 'contact.A_65' | t }}</a></div>
        </div>
      </div>
    </div>
    <div class="section-normal">
      <div class="w-layout-grid footer2-bottom-grid">
        <div id="w-node-8fe8825a9d14-825a9cd1" class="footer2-bottom-left-column">
          <div class="deco-dot deco-dot-centered"></div>
          <div class="paragraph-small-2">{{ 'contact.DIV_66' | t }}<br>{{ 'contact.DIV_67' | t }}<br>{{ 'contact.DIV_68' | t }}<br>{{ 'contact.DIV_69' | t }}<br>{{ 'contact.DIV_70' | t }}<a href="/practitioners#clinical-studies"><br></a></div>
        </div>
        <div id="w-node-8fe8825a9d23-825a9cd1">
          <div class="footer2-disclaimer-wrap">
            <p class="paragraph">{{ 'contact.P_71' | t }}</p>
          </div>
        </div>
        <div id="w-node-8fe8825a9d27-825a9cd1" class="div-block-137"><a href="/pages/terms-of-service" class="footer-small-link">{{ 'contact.A_72' | t }}</a><a href="/pages/privacy-policy" class="footer-small-link">{{ 'contact.A_73' | t }}</a></div>
      </div>
    </div>
  </div>
  <a data-w-id="1c1c4019-2db4-f389-1940-137aa3098d22" href="/products/xialla" class="button-sticky-footer-2 w-inline-block">
    <div class="button-label-3">{{ 'contact.DIV_74' | t }}</div>
  </a>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5eac0ded2d2f09a505faf644" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <!--  Stop iPhone from changing color of phone links  -->
  <style>
  a[href^=tel] {
text-decoration:inherit;
color: inherit;
}
</style>
  <!--  End Stop iPhone   -->
  <!--  Ellipsis style used for truncating search result item title  -->
  <style>
  .ellipsis {
  text-overflow: ellipsis;
}
</style>
  <!--  End Elipsis  -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}