{% layout 'page.clinical-trials' %}
      
  <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
    <div class="mainmenuwrap"><a href="/" id="w-node-f20facedcda8-cd55b9ef" class="brand w-nav-brand"><img src="{{ 'logo.png' | asset_url }}" width="44" alt="Xialla Logo" class="header-logo"></a>
      <div id="w-node-f20facedcdaa-cd55b9ef" class="nav1-menu-wrap">
        <div class="div-block-141">
          <nav role="navigation" class="nav-menu-2 w-nav-menu"><a href="#" class="nav-link-2 dropdown-home w-nav-link">{{ 'clinical-trials.A_0' | t }}</a>
            <div data-delay="0" class="nav-link-2 w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="menu-text">{{ 'clinical-trials.DIV_1' | t }}</div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list-2 w-dropdown-list"><a href="/pages/how-it-works" class="menuitem dropdown w-dropdown-link">{{ 'clinical-trials.A_2' | t }}</a><a href="/pages/clinical-trials" aria-current="page" class="menuitem dropdown w-dropdown-link w--current">{{ 'clinical-trials.A_3' | t }}</a><a href="/pages/about" page="default" class="menuitem dropdown w-dropdown-link">{{ 'clinical-trials.A_4' | t }}</a><a href="/pages/contact" class="menuitem dropdown w-dropdown-link">{{ 'clinical-trials.A_5' | t }}</a></nav>
            </div>
            <div data-delay="0" class="nav-link-2 w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="menu-text">{{ 'clinical-trials.DIV_6' | t }}</div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list-2 w-dropdown-list"><a href="/products/xialla" class="menuitem dropdown w-dropdown-link">{{ 'clinical-trials.A_7' | t }}</a><a href="/products/adhesive-pads-30-pack" class="menuitem dropdown w-dropdown-link">{{ 'clinical-trials.A_8' | t }}</a></nav>
            </div>
            <div data-delay="0" class="nav-link-2 w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="menu-text">{{ 'clinical-trials.DIV_9' | t }}</div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list-2 w-dropdown-list"><a href="/pages/help" class="menuitem dropdown w-dropdown-link">{{ 'clinical-trials.A_10' | t }}</a><a href="/pages/customer-support" class="menuitem dropdown w-dropdown-link">{{ 'clinical-trials.A_11' | t }}</a><a href="/pages/instructions-for-use" class="menuitem dropdown w-dropdown-link">{{ 'clinical-trials.A_12' | t }}</a></nav>
            </div>
          </nav>
        </div>
        <div class="div-block-140">
          <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightDropdown" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart-3">
            <a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink button cc-cart w-inline-block">
              <div class="w-commerce-commercecartopenlinkcount cart-quantity-2" udy-el="cart-count">{{ cart.item_count }}</div>
            </a>
            <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightDropdown">
              <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container-3">
                <div class="w-commerce-commercecartheader">
                  <h4 class="w-commerce-commercecartheading">{{ 'clinical-trials.H4_13' | t }}</h4><a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink close-button-3 w-inline-block"><svg width="16px" height="16px" viewBox="0 0 16 16"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill-rule="nonzero" fill="#333333"><polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon></g></g></svg></a></div>
                <div class="w-commerce-commercecartformwrapper">
                  <form data-node-type="commerce-cart-form" class="w-commerce-commercecartform {% if cart.item_count == 0 %}udesly-display-none{% endif %}">
                    
                    
                    <ul role="list" class="mini-cart-list" udy-el="items-list">
                      {% for item in cart.items %}<li class="mini-cart-list-item">
                        <div class="product-row">
                          <div class="div-block-137"><img src="{{ item.product.featured_image.src | img_url: 'large' }}" alt="" class="image-32">
                            <div class="div-block-142">
                              <div class="cart-product-name">{{ item.product.title }}</div>
                              <div class="cart-product-price">{{ item.price | money }}</div>
                            </div>
                          </div>
                          <div>
                            <div class="text-block-82">{{ item.quantity }}</div>
                          </div>
                        </div>
                      </li>{% endfor %}
                    </ul>
                    <div class="w-commerce-commercecartfooter {% if cart.item_count == 0 %}udesly-display-none{% endif %}" udy-el="cart-actions">
                      <div class="w-commerce-commercecartlineitem popup-cart-line-item">
                        <div class="popup-cart-subtotal-label">{{ 'clinical-trials.DIV_14' | t }}</div>
                        <div class="w-commerce-commercecartordervalue popup-cart-subtotal" udy-el="cart-total">{{ cart.total_price | money }}</div>
                      </div>
                      <div class="checkout-actions"><a href="/cart" value="Edit" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton submit-button-2 cart-details" data-loading-text="Edit">{{ 'clinical-trials.A_15' | t }}</a><a href="/checkout" value="Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton submit-button-2 checkout" data-loading-text="Chekout">{{ 'clinical-trials.A_16' | t }}</a></div>
                    </div>
                  </form>
                  <div class="w-commerce-commercecartemptystate {% if cart.item_count != 0 %}udesly-display-none{% endif %}" udy-el="no-items-in-cart">
                    <div class="text-block-84">{{ 'clinical-trials.DIV_17' | t }}</div>
                  </div>
                  <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-cart_order_min-error="Cart failed.">{{ 'clinical-trials.DIV_18' | t }}</div>
                  </div>
                </div>
              </div>
            </div>
          <script id="mini-cart-template">
          window.udeslyMiniCartTemplate = function(item) {
            return `<li class="mini-cart-list-item" data-item-id="${item.id}">
                        <div class="product-row">
                          <div class="div-block-137"><img src="${item.image}" alt="" class="image-32">
                            <div class="div-block-142">
                              <div class="cart-product-name">${item.title}</div>
                              <div class="cart-product-price">${item.price}</div>
                            </div>
                          </div>
                          <div>
                            <div class="text-block-82">${item.quantity}</div>
                          </div>
                        </div>
                      </li>`
          }
          </script></div>
          <a href="/products/xialla" class="button-small header w-inline-block">
            <div class="button-label">{{ 'clinical-trials.DIV_19' | t }}</div>
          </a>
          <div class="menu-button-2 w-nav-button"><img src="{{ 'bars.svg' | asset_url }}" alt="" class="menu-icon-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="Hero" class="section">
    <div class="w-layout-grid grid">
      <div id="w-node-2443d7bed804-fbb6dc2a" class="elements-headline-wrap">
        <h1 class="page-title">{{ 'clinical-trials.H1_20' | t }}</h1>
        <p class="paragraph-semi-bold">{{ 'clinical-trials.P_21' | t }}<br></p>
        <p class="paragraph-normal">{{ 'clinical-trials.P_22' | t }}</p>
        <p class="paragraph-normal">{{ 'clinical-trials.P_23' | t }}</p>
      </div>
    </div>
  </div>
  <div class="footer-wrapper m0-100">
    <div class="section-normal">
      <div class="w-layout-grid blog-detail-grid">
        <div id="w-node-2443d7bed811-fbb6dc2a" class="blog-detail-post-cover-pic">
          <div class="div-block-89">
            <div class="size3-text-2 right">{{ 'clinical-trials.DIV_24' | t }}</div>
            <div class="text-label-7 right">{{ 'clinical-trials.DIV_25' | t }}</div>
          </div>
        </div>
        <div id="w-node-2443d7bed817-fbb6dc2a" class="rich-text-block-2 w-richtext">
          <h2>{{ 'clinical-trials.H2_26' | t }}</h2>
          <p>{{ 'clinical-trials.P_27' | t }}</p>
          <blockquote>{{ 'clinical-trials.BLOCKQUOTE_28' | t }}</blockquote>
          <p>{{ 'clinical-trials.P_29' | t }}</p>
          <p>{{ 'clinical-trials.P_30' | t }}</p>
        </div>
        <div id="w-node-2443d7bed822-fbb6dc2a" class="blog-detail-author-wrap">
          <div class="blog-detail-name-wrap">
            <p class="blog-detail-name">{{ 'clinical-trials.P_31' | t }}<br></p>
            <div class="text-label-6">{{ 'clinical-trials.DIV_32' | t }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-layout-grid cta4-grid">
      <div id="w-node-2443d7bed82b-fbb6dc2a">
        <div class="cta4-content-wrap">
          <div class="cta4-headline-wrap">
            <h2>{{ 'clinical-trials.H2_33' | t }}</h2>
            <p class="paragraph-normal">{{ 'clinical-trials.P_34' | t }}</p>
            <div class="text-label-6">{{ 'clinical-trials.DIV_35' | t }}</div>
            <div class="text-label-6">{{ 'clinical-trials.DIV_36' | t }}</div>
          </div>
          <a rel="nofollow" data-w-id="02fa45be-9ac9-9ab9-81c9-2443d7bed836" href="https://www.jsm.jsexmed.org/article/S1743-6095(16)30541-0/fulltext" target="_blank" class="button-small-2 transparent fixed-width-and-border w-inline-block">
            <div class="button-label-3">{{ 'clinical-trials.DIV_37' | t }}</div><img src="https://uploads-ssl.webflow.com/5dd07020edfe6a1f4c682c0e/5dd07020edfe6a7c87682c3d_arrow-dark%402x.svg" alt="" class="button-arrow"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="component-divider-small"></div>
  <div class="section">
    <div class="w-layout-grid cta4-grid">
      <div id="w-node-2443d7bed83d-fbb6dc2a">
        <div class="cta4-content-wrap">
          <div class="cta4-headline-wrap">
            <h2>{{ 'clinical-trials.H2_38' | t }}</h2>
            <p class="paragraph-normal">{{ 'clinical-trials.P_39' | t }}</p>
            <div class="text-label-6">{{ 'clinical-trials.DIV_40' | t }}</div>
            <div class="text-label-6">{{ 'clinical-trials.DIV_41' | t }}</div>
          </div>
          <a rel="nofollow" data-w-id="02fa45be-9ac9-9ab9-81c9-2443d7bed848" href="https://www.jsm.jsexmed.org/article/S1743-6095(16)30544-6/fulltext" target="_blank" class="button-small-2 transparent fixed-width-and-border w-inline-block">
            <div class="button-label-3">{{ 'clinical-trials.DIV_42' | t }}</div><img src="https://uploads-ssl.webflow.com/5dd07020edfe6a1f4c682c0e/5dd07020edfe6a7c87682c3d_arrow-dark%402x.svg" alt="" class="button-arrow"></a>
        </div>
      </div>
    </div>
  </div>
  <div id="info-kit" class="component-divider-small"></div>
  <div class="footer-wrapper">
    <div class="footer-simple-top-section">
      <div class="section-normal yellow">
        <div class="w-layout-grid footer2-form-grid">
          <div id="w-node-28661869d3bf-1869d3bb">
            <h5 class="size3-text size3-full-clear white">{{ 'clinical-trials.H5_43' | t }}</h5>
            <div class="paragraph-semi-bold size5-full-clear white">{{ 'clinical-trials.DIV_44' | t }}</div>
            <div class="paragraph-semi-bold">{{ 'clinical-trials.DIV_45' | t }}</div>
          </div>
          <div id="w-node-28661869d3c6-1869d3bb">
            <div id="subscribe-form" class="footer2-form w-form">
              <form id="subscribe-form" name="wf-form-Subscribe-Form" data-name="Subscribe Form" method="post" class="footer2-form-wrap"><input type="email" class="form-field w-input" maxlength="256" name="Email-3" data-name="Email 3" placeholder="Enter your email" id="Email-3" required=""><input type="submit" value="Subscribe" data-wait="Please wait..." class="submit-button subscribe w-button"></form>
              <div class="success-message w-form-done">
                <div>{{ 'clinical-trials.DIV_46' | t }}</div>
              </div>
              <div class="error-message w-form-fail">
                <div>{{ 'clinical-trials.DIV_47' | t }}</div>
              </div>
            </div>
            <div class="html-embed w-embed w-script">
              <!-- [if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
<![endif] -->
              <script charset="utf-8" type="text/javascript" src="https://js.hsforms.net/forms/v2.js"></script>
              <script>
  hbspt.forms.create({
	portalId: "5835628",
	formId: "db3b18f8-9c57-4abc-a8c8-441b2f4d1674"
});
</script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="footer-simple-top-section">
      <div class="section-normal">
        <div class="content">
          <div class="footer2-divider"></div>
        </div>
        <div class="w-layout-grid footer2-links-grid">
          <div id="w-node-8fe8825a9ceb-825a9cd1"><a href="#" class="footer-logo-link w-inline-block"><img src="{{ 'logo.png' | asset_url }}" alt="Xialla Logo"></a>
            <div class="footer2-links-wrap">
              <h6 class="text-label-footer-links-header">{{ 'clinical-trials.H6_48' | t }}</h6><a href="mailto:press@xialla.com" class="footer2-link">{{ 'clinical-trials.A_49' | t }}</a></div>
          </div>
          <div id="w-node-8fe8825a9cf3-825a9cd1" class="footer2-links-wrap">
            <h6 class="text-label-footer-links-header">{{ 'clinical-trials.H6_50' | t }}</h6><a href="/products/xialla" class="footer2-link">{{ 'clinical-trials.A_51' | t }}</a><a href="/products/adhesive-pads-30-pack" class="footer2-link">{{ 'clinical-trials.A_52' | t }}</a><a href="/pages/refund-policy" class="footer2-link">{{ 'clinical-trials.A_53' | t }}</a></div>
          <div id="w-node-8fe8825a9cfc-825a9cd1" class="footer2-links-wrap">
            <h6 class="text-label-footer-links-header">{{ 'clinical-trials.H6_54' | t }}</h6><a href="/pages/how-it-works" class="footer2-link">{{ 'clinical-trials.A_55' | t }}</a><a href="/pages/instructions-for-use" class="footer2-link">{{ 'clinical-trials.A_56' | t }}</a><a href="/pages/clinical-trials" aria-current="page" class="footer2-link w--current">{{ 'clinical-trials.A_57' | t }}</a><a href="/pages/info-kit" class="footer2-link">{{ 'clinical-trials.A_58' | t }}</a><a href="/pages/about" class="footer2-link">{{ 'clinical-trials.A_59' | t }}</a></div>
          <div id="w-node-8fe8825a9d09-825a9cd1" class="footer2-links-wrap">
            <h6 class="text-label-footer-links-header">{{ 'clinical-trials.H6_60' | t }}</h6><a href="/pages/customer-support" class="footer2-link">{{ 'clinical-trials.A_61' | t }}</a><a href="/pages/help" class="footer2-link">{{ 'clinical-trials.A_62' | t }}</a><a href="/pages/contact" class="footer2-link">{{ 'clinical-trials.A_63' | t }}</a></div>
        </div>
      </div>
    </div>
    <div class="section-normal">
      <div class="w-layout-grid footer2-bottom-grid">
        <div id="w-node-8fe8825a9d14-825a9cd1" class="footer2-bottom-left-column">
          <div class="deco-dot deco-dot-centered"></div>
          <div class="paragraph-small-2">{{ 'clinical-trials.DIV_64' | t }}<br>{{ 'clinical-trials.DIV_65' | t }}<br>{{ 'clinical-trials.DIV_66' | t }}<br>{{ 'clinical-trials.DIV_67' | t }}<br>{{ 'clinical-trials.DIV_68' | t }}<a href="/practitioners#clinical-studies"><br></a></div>
        </div>
        <div id="w-node-8fe8825a9d23-825a9cd1">
          <div class="footer2-disclaimer-wrap">
            <p class="paragraph">{{ 'clinical-trials.P_69' | t }}</p>
          </div>
        </div>
        <div id="w-node-8fe8825a9d27-825a9cd1" class="div-block-137"><a href="/pages/terms-of-service" class="footer-small-link">{{ 'clinical-trials.A_70' | t }}</a><a href="/pages/privacy-policy" class="footer-small-link">{{ 'clinical-trials.A_71' | t }}</a></div>
      </div>
    </div>
  </div>
  <a data-w-id="1c1c4019-2db4-f389-1940-137aa3098d22" href="/products/xialla" class="button-sticky-footer-2 w-inline-block">
    <div class="button-label-3">{{ 'clinical-trials.DIV_72' | t }}</div>
  </a>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5eac0ded2d2f09a505faf644" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <!--  Stop iPhone from changing color of phone links  -->
  <style>
  a[href^=tel] {
text-decoration:inherit;
color: inherit;
}
</style>
  <!--  End Stop iPhone   -->
  <!--  Ellipsis style used for truncating search result item title  -->
  <style>
  .ellipsis {
  text-overflow: ellipsis;
}
</style>
  <!--  End Elipsis  -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}