{% layout 'customers_register' %}
      
  <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
    <div class="mainmenuwrap"><a href="/" id="w-node-f20facedcda8-cd55b9ef" class="brand w-nav-brand"><img src="{{ 'logo.png' | asset_url }}" width="44" alt="Xialla Logo" class="header-logo"></a>
      <div id="w-node-f20facedcdaa-cd55b9ef" class="nav1-menu-wrap">
        <div class="div-block-141">
          <nav role="navigation" class="nav-menu-2 w-nav-menu"><a href="#" class="nav-link-2 dropdown-home w-nav-link">{{ 'customersregister.A_0' | t }}</a>
            <div data-delay="0" class="nav-link-2 w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="menu-text">{{ 'customersregister.DIV_1' | t }}</div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list-2 w-dropdown-list"><a href="/pages/how-it-works" class="menuitem dropdown w-dropdown-link">{{ 'customersregister.A_2' | t }}</a><a href="/pages/clinical-trials" class="menuitem dropdown w-dropdown-link">{{ 'customersregister.A_3' | t }}</a><a href="/pages/about" page="default" class="menuitem dropdown w-dropdown-link">{{ 'customersregister.A_4' | t }}</a><a href="/pages/contact" class="menuitem dropdown w-dropdown-link">{{ 'customersregister.A_5' | t }}</a></nav>
            </div>
            <div data-delay="0" class="nav-link-2 w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="menu-text">{{ 'customersregister.DIV_6' | t }}</div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list-2 w-dropdown-list"><a href="/products/xialla" class="menuitem dropdown w-dropdown-link">{{ 'customersregister.A_7' | t }}</a><a href="/products/adhesive-pads-30-pack" class="menuitem dropdown w-dropdown-link">{{ 'customersregister.A_8' | t }}</a></nav>
            </div>
            <div data-delay="0" class="nav-link-2 w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="menu-text">{{ 'customersregister.DIV_9' | t }}</div>
                <div class="icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list-2 w-dropdown-list"><a href="/pages/help" class="menuitem dropdown w-dropdown-link">{{ 'customersregister.A_10' | t }}</a><a href="/pages/customer-support" class="menuitem dropdown w-dropdown-link">{{ 'customersregister.A_11' | t }}</a><a href="/pages/instructions-for-use" class="menuitem dropdown w-dropdown-link">{{ 'customersregister.A_12' | t }}</a></nav>
            </div>
          </nav>
        </div>
        <div class="div-block-140">
          <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightDropdown" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart-3">
            <a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink button cc-cart w-inline-block">
              <div class="w-commerce-commercecartopenlinkcount cart-quantity-2" udy-el="cart-count">{{ cart.item_count }}</div>
            </a>
            <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightDropdown">
              <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container-3">
                <div class="w-commerce-commercecartheader">
                  <h4 class="w-commerce-commercecartheading">{{ 'customersregister.H4_13' | t }}</h4><a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink close-button-3 w-inline-block"><svg width="16px" height="16px" viewBox="0 0 16 16"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill-rule="nonzero" fill="#333333"><polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon></g></g></svg></a></div>
                <div class="w-commerce-commercecartformwrapper">
                  <form data-node-type="commerce-cart-form" class="w-commerce-commercecartform {% if cart.item_count == 0 %}udesly-display-none{% endif %}">
                    
                    
                    <ul role="list" class="mini-cart-list" udy-el="items-list">
                      {% for item in cart.items %}<li class="mini-cart-list-item">
                        <div class="product-row">
                          <div class="div-block-137"><img src="{{ item.product.featured_image.src | img_url: 'large' }}" alt="" class="image-32">
                            <div class="div-block-142">
                              <div class="cart-product-name">{{ item.product.title }}</div>
                              <div class="cart-product-price">{{ item.price | money }}</div>
                            </div>
                          </div>
                          <div>
                            <div class="text-block-82">{{ item.quantity }}</div>
                          </div>
                        </div>
                      </li>{% endfor %}
                    </ul>
                    <div class="w-commerce-commercecartfooter {% if cart.item_count == 0 %}udesly-display-none{% endif %}" udy-el="cart-actions">
                      <div class="w-commerce-commercecartlineitem popup-cart-line-item">
                        <div class="popup-cart-subtotal-label">{{ 'customersregister.DIV_14' | t }}</div>
                        <div class="w-commerce-commercecartordervalue popup-cart-subtotal" udy-el="cart-total">{{ cart.total_price | money }}</div>
                      </div>
                      <div class="checkout-actions"><a href="/cart" value="Edit" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton submit-button-2 cart-details" data-loading-text="Edit">{{ 'customersregister.A_15' | t }}</a><a href="/checkout" value="Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton submit-button-2 checkout" data-loading-text="Chekout">{{ 'customersregister.A_16' | t }}</a></div>
                    </div>
                  </form>
                  <div class="w-commerce-commercecartemptystate {% if cart.item_count != 0 %}udesly-display-none{% endif %}" udy-el="no-items-in-cart">
                    <div class="text-block-84">{{ 'customersregister.DIV_17' | t }}</div>
                  </div>
                  <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-cart_order_min-error="Cart failed.">{{ 'customersregister.DIV_18' | t }}</div>
                  </div>
                </div>
              </div>
            </div>
          <script id="mini-cart-template">
          window.udeslyMiniCartTemplate = function(item) {
            return `<li class="mini-cart-list-item" data-item-id="${item.id}">
                        <div class="product-row">
                          <div class="div-block-137"><img src="${item.image}" alt="" class="image-32">
                            <div class="div-block-142">
                              <div class="cart-product-name">${item.title}</div>
                              <div class="cart-product-price">${item.price}</div>
                            </div>
                          </div>
                          <div>
                            <div class="text-block-82">${item.quantity}</div>
                          </div>
                        </div>
                      </li>`
          }
          </script></div>
          <a href="/products/xialla" class="button-small header w-inline-block">
            <div class="button-label">{{ 'customersregister.DIV_19' | t }}</div>
          </a>
          <div class="menu-button-2 w-nav-button"><img src="{{ 'bars.svg' | asset_url }}" alt="" class="menu-icon-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="main-heading-wrap">
      <h1>{{ 'customersregister.H1_20' | t }}</h1>
      <div class="paragraph-bigger cc-bigger-light">{{ 'customersregister.DIV_21' | t }}<br></div>
    </div>
    <div class="divider"></div>
  </div>
  <div class="account-container w-container">
    {% form 'create_customer' %}<div class="register-form---copy-this w-form">
      <label for="first_name">{{ 'customersregister.LABEL_22' | t }}</label><input type="text" class="w-input" maxlength="256" name="customer[first_name]" id="first_name" required=""><label for="last_name">{{ 'customersregister.LABEL_23' | t }}</label><input type="text" class="w-input" maxlength="256" name="customer[last_name]" id="last_name" required=""><label for="email">{{ 'customersregister.LABEL_24' | t }}</label><input type="email" class="w-input" maxlength="256" name="customer[email]" id="email" required=""><label for="password-2">{{ 'customersregister.LABEL_25' | t }}</label><input type="password" class="w-input" maxlength="256" name="customer[password]" id="password-2" required=""><input type="submit" value="Register" data-wait="Please wait..." class="button w-button" name="customer[note][]">
      
      
    </div><div class="register-form---copy-this w-form">{% if form.errors %}<div class="w-form-fail" style="display: inherit;">
        <div>{% include 'form-errors' %}</div>
      </div>{% endif %}{% if form.posted_successfully? %}<div class="w-form-done" style="display: inherit;">
        <div>{{ 'customersregister.DIV_26' | t }}</div>
      </div>{% endif %}</div>{% endform %}
  </div>
  <div class="footer-simple-wrapper">
    <div class="footer-simple-top-section">
      <div class="section-normal">
        <div class="content">
          <div class="footer2-divider"></div>
        </div>
        <div class="w-layout-grid footer2-links-grid">
          <div id="w-node-4122d0d3c95f-d0d3c959"><a href="#" class="footer-logo-link w-inline-block"><img src="{{ 'logo.png' | asset_url }}" alt="Xialla Logo" class="image-2"></a>
            <div class="footer2-links-wrap">
              <h6 class="text-label-footer-links-header">{{ 'customersregister.H6_27' | t }}</h6><a href="mailto:press@xialla.com" class="footer2-link">{{ 'customersregister.A_28' | t }}</a></div>
          </div>
          <div id="w-node-4122d0d3c967-d0d3c959" class="footer2-links-wrap">
            <h6 class="text-label-footer-links-header">{{ 'customersregister.H6_29' | t }}</h6><a href="/product/xialla" class="footer2-link">{{ 'customersregister.A_30' | t }}</a><a href="#" class="footer2-link">{{ 'customersregister.A_31' | t }}</a><a href="#" class="footer2-link">{{ 'customersregister.A_32' | t }}</a></div>
          <div id="w-node-4122d0d3c970-d0d3c959" class="footer2-links-wrap">
            <h6 class="text-label-footer-links-header">{{ 'customersregister.H6_33' | t }}</h6><a href="#" class="footer2-link">{{ 'customersregister.A_34' | t }}</a><a href="/pages/how-it-works" class="footer2-link">{{ 'customersregister.A_35' | t }}</a><a href="#" class="footer2-link">{{ 'customersregister.A_36' | t }}</a><a href="#" class="footer2-link">{{ 'customersregister.A_37' | t }}</a><a href="/pages/about" class="footer2-link">{{ 'customersregister.A_38' | t }}</a></div>
          <div id="w-node-4122d0d3c97d-d0d3c959" class="footer2-links-wrap">
            <h6 class="text-label-footer-links-header">{{ 'customersregister.H6_39' | t }}</h6><a href="#" class="footer2-link">{{ 'customersregister.A_40' | t }}</a><a href="#" class="footer2-link">{{ 'customersregister.A_41' | t }}</a><a href="/pages/contact" class="footer2-link">{{ 'customersregister.A_42' | t }}</a></div>
        </div>
      </div>
    </div>
    <div class="section-normal">
      <div class="w-layout-grid footer2-bottom-grid">
        <div id="w-node-4122d0d3c988-d0d3c959" class="footer2-bottom-left-column">
          <div class="deco-dot deco-dot-centered"></div>
          <div class="paragraph-small-2">{{ 'customersregister.DIV_43' | t }}<br>{{ 'customersregister.DIV_44' | t }}<br>{{ 'customersregister.DIV_45' | t }}<br>{{ 'customersregister.DIV_46' | t }}<br>{{ 'customersregister.DIV_47' | t }}<a href="/practitioners#clinical-studies"><br></a></div>
        </div>
        <div id="w-node-4122d0d3c997-d0d3c959">
          <div class="footer2-disclaimer-wrap">
            <p class="paragraph">{{ 'customersregister.P_48' | t }}</p>
          </div>
        </div>
        <div id="w-node-4122d0d3c99b-d0d3c959" class="div-block-137"><a href="#" class="footer-small-link">{{ 'customersregister.A_49' | t }}</a><a href="#" class="footer-small-link">{{ 'customersregister.A_50' | t }}</a></div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5eac0ded2d2f09a505faf644" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <!--  Stop iPhone from changing color of phone links  -->
  <style>
  a[href^=tel] {
text-decoration:inherit;
color: inherit;
}
</style>
  <!--  End Stop iPhone   -->
  <!--  Ellipsis style used for truncating search result item title  -->
  <style>
  .ellipsis {
  text-overflow: ellipsis;
}
</style>
  <!--  End Elipsis  -->

{% include 'notifications' %}{{ 'udesly-shopify.min.js' | asset_url | script_tag }}